body {
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  padding: 20px;
}

.main-container {
  background-color: #538414;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.table-container {
  background-color: #F8F4F1;
  width: auto;
  max-width: 100%;
  border-radius: 6px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow-x: auto;
}

h1 {
  font-family: "Prociono", serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 3rem;
  margin: 0;
}

/* Reset default appearance for form elements */
button, input[type="checkbox"], input[type="text"], input[type="number"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  margin: 0;
}

button {
  font-family: "Mulish", sans-serif;
  padding: 0;
  background: none;
  cursor: pointer;
}

@media (max-width: 1080px) {
  .table-container {
    overflow-x: auto;
  }
}

@media (max-width: 420px) {
  h1 {
    text-align: center;
  }
}

